html {
    min-height: 5em;
    min-width: 10em;
}

div {
    display: flex;
}

.t-checkboxedit {
    margin: 0px;
    padding: 0px;
    width: 16px;
    height: 16px;
    outline: none;
    border: 0px;
    opacity: 0;
}

.checkbox-wrapper-65 *,
.checkbox-wrapper-65 ::after,
.checkbox-wrapper-65 ::before {
    box-sizing: border-box;
}

.checkbox-wrapper-65 .cbx {
    position: relative;
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: #606062;
    background-image: linear-gradient(#474749, #606062);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.15), inset 0 -1px 1px rgba(0, 0, 0, 0.15);
    transition: all 0.15s ease;
}

.checkbox-wrapper-65 .cbx svg {
    position: absolute;
    top: 3px;
    left: 3px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 17;
    stroke-dashoffset: 17;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-65 .cbx+span {
    float: left;
    margin-left: 6px;
}

.checkbox-wrapper-65 {
    user-select: none;
    align-items: center;
    float: right;
    margin-left: auto;
}

.checkbox-wrapper-65 label {
    display: inline-block;
    cursor: pointer;
}

.checkbox-wrapper-65 input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.checkbox-wrapper-65 input[type="checkbox"]:checked+.cbx {
    background-color: #606062;
    background-image: linear-gradient(#255cd2, #1d52c1);
}

.checkbox-wrapper-65 input[type="checkbox"]:checked+.cbx svg {
    stroke-dashoffset: 0;
    transition: all 0.15s ease;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
    cursor: pointer;
}